*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f4183;
}

#contenair{
    background-image: linear-gradient(to bottom, rgb(23, 23, 78),rgb(5, 5, 143),rgb(5, 5, 143) ,rgb(23, 23, 78), rgb(2, 16, 54),rgb(45, 79, 175),white);
    width: 960px;
    height: 540px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed;
    border-radius: 10px
}

/*/*------------------------gestion de lq neige/*------------------------*/

.Neige {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.Neige__layer{
    animation: wind 5s cubic-bezier(0.51, 0.01, 0.63, 0.99) infinite alternate;
    position: absolute;
    left: -100px;
    right: -100px;
    padding-right: 100px;
    transform: translateX(-50px);
    z-index: 10;
}

.Neige__layer::after, .Neige__layer:nth-child(3)::before {
    content: "";
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 2000px;
    background: url(../img/snow-sparse.png);
    animation: neigeTombanteLight 5s linear infinite;/**/
    transform: translateZ(50px);
}

.Neige__layer:nth-child(1) {
    animation-duration: 3s; /**/
}

.Neige__layer:nth-child(1)::after {
    background: url(../img/snow-verydense-blur.png);
    transform: translateZ(25px);
    animation-name: neigeTombanteBlur;
}

.Neige__layer:nth-child(2)::after {
    background: url(../img/snow-dense.png);
    animation-duration: 4s;/**/
}

.Neige__layer:nth-child(3)::after {
    animation-duration: 10s;
    background-size: 250px;
}

.Neige__layer:nth-child(3)::before {
    animation-duration: 5s;/**/
    background-size: 500px;
}

@keyframes neigeTombanteLight {
    from {
        transform: translateY(-1000px) translateZ(50px);
    }
}

@keyframes neigeTombanteBlur {
    from {
        transform: translateY(-1000px) translateZ(50px);
    }
}

@keyframes wind {
    to {
        transform: translateX(50px);
    }
}

/* -------------------  logo Aformac ------------------ */
.logoGN{
    height: auto;
    opacity: 0.1;
}
#logoAformac{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 1;
    height: 270px;
}
#arcs{
    position: relative; 
    width: 300px;
    top: 50px;
    left: 105px;
}

/* ------------------------halo------------------------------- */
#disque{
    position: absolute;
    left: 210px;
    animation: halo 4s infinite;
    border-radius: 50%;
    background-color: rgb(228, 145, 22);
    width: 80px;
}
@keyframes halo{
    0% {box-shadow: 0 0 20px white,0 0 100px rgb(236, 236, 162);}
    50% {box-shadow: 0 0 100px white,0 0 200px rgb(236, 236, 162);}
    100% {box-shadow: 0 0 20px white,0 0 100px rgb(236, 236, 162);}
}
/* -------------------------traineau ----------------------- */

#traineau{
    z-index: 2;
    position: absolute;
    top: 10px;
    left: 198px;
    width: 300px;
    transform: rotate(5deg);
    animation: traineau 8s infinite;
}

@keyframes traineau {
    0%{
        transform: rotate(0deg) scale(0);
        top: 0;
        left: -450px;
    }
    70%{
        transform: rotate(5deg) scale(1);
        top: 10px;
        left: 198px;
    }
    100%{
        transform: rotate(10deg) scale(0);
        top: -30px;
        left: 540px;
    }
}

/*------------------------ gestion du motAformac ------------------------*/

#motAformac{
    position: relative;
    width: 500px;
    height: 150px;
    top: 140px;
}
img{
    width: 100%;
}
#sapin{
    z-index: 3;
    position: absolute;
    width: 150px;
    bottom: -4px;
    left: -110px;
}
#lettreF{
    position: absolute;
    z-index: 6;
    width: 40px;
    bottom: -5px;
    left: 60px;
}
#bonhomeDeNeige{
    position: absolute;
    width: 80px;
    bottom: -20px;
    left: 125px;
}
#lettreR{
    position: absolute;
    width: 30px;
    bottom: -3px;
    left: 248px;
}

#lettreM{
    position: absolute;
    width: 100px;
    bottom: -43px;
    left: 305px;
}

@keyframes rayonne{
    0% {background-color:rgb(243, 189, 12); }
    25% {background-color:yellow;}
    50% {background-color: rgb(241, 240, 148);}
    75% {background-color: yellow;}
    100% {background-color:rgb(243, 189, 12); }
}
#lettreA{
    position: absolute;
    width: 80px;
    bottom: -25px;
    left: 415px;
}
#lettreC{
    position: absolute;
    width: 80px;
    bottom: -14px;
    left: 505px;
}
#chausette{
    position: absolute;
    width: 30px;
    bottom: 10px;
    left: 550px;
}
.chausette:hover{
    transform: rotate(150deg);
}

/*------------------------sapin et boules/*------------------------*/

.sapin img{
    width: 100%;
    height: 100%;
}

.boules{
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%
}

#boule-bleu{
    top: 24%;
    left: 40%;
    animation: transfert-bleu 3.5s infinite;
}

#boule-rouge{
    top: 75%;
    left: 20%;
    animation: transfert-rouge 4s infinite;
}

#boule-violet{
    top: 50%;
    left: 30%;
    animation: transfert-violet 2.5s infinite;
}

#boule-vert{
    top: 65%;
    left: 60%;
    animation: transfert-vert 1.5s infinite;
}

#boule-jaune{
    top: 40%;
    left: 50%;
    animation: transfert-jaune 5.5s infinite;
}

@keyframes transfert-bleu{
    0% {background-color: red;}
    25% {background-color: blue;}
    50% {background-color: yellow;}
    75% {background-color: purple;}
    100% {background-color: pink;}
}

@keyframes transfert-rouge {
    0% {background-color: red;}
    25% {background-color: yellow;}
    50% {background-color: purple;}
    75% {background-color: blue;}
    100% {background-color: pink;}
}

@keyframes transfert-violet {
    0% {background-color: yellow;}
    25% {background-color: red;}
    50% {background-color: pink;}
    75% {background-color: blue;}
    100% {background-color: purple;}
}

@keyframes transfert-vert {
    0% {background-color: blue;}
    25% {background-color: pink;}
    50% {background-color: red;}
    75% {background-color: purple;}
    100% {background-color: yellow;}
}

@keyframes transfert-jaune {
    0% {background-color: red;}
    25% {background-color: pink;}
    50% {background-color: purple;}
    75% {background-color: yellow;}
    100% {background-color: blue;}
}

/* ---------------------------------etoile sapin------------------------- */
#etoile{
    position: absolute;
    top: -25px;
    left: 57px;
    width: 40px;
    height: 40px;
    background-color: yellow;
    animation: rayonne 4s infinite;
    border-radius: 50%;
    opacity: 0.8;
}
#etoile img{
    width: 100%;
}

#souhait{
    position: absolute;
    top: 450px;
    font-size: 3em;
    color: red;
    text-shadow: 3px 3px 5px rgb(241, 241, 85);
}
/* ----------------18pixel------------------- */
#pixel{
    z-index: 5;
    position: absolute;
    width: 0;
    bottom: 165px;
    left: 220px;
    animation: pixel 5s forwards;
    animation-delay: 5s;
    opacity: 1;
}
@keyframes pixel {
    0% {
        transform: rotateX(0deg);
        width: 0;
        bottom: 165px;
        left: 220px;
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    100% {
        transform: rotateX(360deg);
        width: 70px;
        bottom: -88px;
        left: 320px;
        opacity: 1;
    }
}

/* -------------------logo decodeur ---------------------- */
.decodeur{
    position: absolute;
    z-index: 5;
    width: 0;
    top: 90px;
    left: 210px;
    animation: decodeur 5s forwards;
    animation-delay: 5s;
    opacity: 0;
}

@keyframes decodeur {
    0% {
        transform: rotate(0deg);
        width: 0;
        top: 90px;
        left: 210px;
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        transform: rotate(360deg);
    }
    100% {
        width: 150px;
        top: 266px;
        left: -2px;
        transform: rotate(-20deg);
        opacity: 1;
    }
}




/* ------------------envoi------------------- */
#envoi{
    z-index: 10;
    position: absolute;
    width: 100px;
    top: 10px;
    left: 840px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#envoi img{
    width: 40%;
}

form{
    z-index: 9;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}

#formulaire{
    display: none;
}
