* {
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 2em;
}

.row{
    margin:auto;
}

img{
    width: 100%;
    height: 70%;
}

/* gestion des box */

article{
    padding-top:.8%;
    background-color: white;
}

/* gestion des elements de chaque article */

/* this is a link */

a:link{ 
    text-decoration: none;
} 

/* this is link + 3 points */

a{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600;
    color:purple;
}

figcaption{
    padding: 5% 5%;
}

figure{
    width: 100%;
}

@media (min-width: 768px){
    .row, article{
    background-color: white;
    }
}

@media (min-width: 992px){
    .row, article{
        background-color:black;
        }
 }

@media (min-width: 1200px){
    .row, article{
        background-color: grey;
        }
}